body {
	--button-border: #5a5a5a7d;
}


.buybutton, .play, .button {
	box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.5);
	border:1px solid var(--button-border);
	font-size:18px;
}	

.buybutton:hover, .play:hover .button:hover {
	border:1px solid var(--button-border);
	background-color: #e9e9ed; /* default background-color of the button */
	box-shadow: 0px 5px 0px black;
}

#store {
	border-top-left-radius:15px;
	border-bottom-left-radius:15px;
	font-size:16px;
}

#backToGame {
	border-top-right-radius:15px;
	border-bottom-right-radius:15px;
}